# Xcode specific
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.xcdebugger

# User-specific Xcode data
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Derived data & build artifacts
DerivedData/
build/

# Swift Package Manager
.build/
Packages/

